<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../order.css">

    <title>Shippers</title>
</head>

<body>

    <!-- Making Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light f1">
        <a class="navbar-brand" href="#">Shippers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item  " href="#">Action</a>
                        <a class="dropdown-item  " href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item " href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form action="/login" class="form-inline my-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Login </button>
            </form>
            <form action="/signup" class="form-inline my-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SignUp</button>
            </form>
        </div>
    </nav>


    {{!-- MIdlle contents --}}
    <div class="font-weight-bold text-secondary text-center " style="font-size: 50px;">Order</div>
    <br>
    <br>
    <form action="/placeorder" method="POST">

        <div class="container justify-content-center">
            <hr>
            <hr>

            <form>
                <div class="form-group">
                    <h4 class="font-weight-bold text-center text-secondary">When do you want the delivery?</h4>
                    <input type="radio" id="male" name="delivery" value="Delivery Now">
                    <label for="male">Delivery Now</label>
                    <input class="ml-4" type="radio" id="female" name="delivery" value="Schedule for later">
                    <label for="female">Schedule for later</label><br>
                    <br>
                    <hr>
                    <hr>
                    <br>
                    <h4 class="font-weight-bold text-center text-secondary">How to deliver</h4>
                    <input type="radio" class="radio1" value="Book a Courier" name="way">
                    <label for="male">Book a Courier</label>
                    <input class="ml-4 radio1" value="Hyperlocal" type="radio" id="female" name="way">
                    <label for="female">Hyperlocal</label><br>
                    <br>
                    <hr>
                    <hr>
                    <br>
                    <h4 class="font-weight-bold text-center text-secondary">Weight</h4>
                    <br>
                    <br>

                    <input type="radio" value="Up to 1 kg" class="radio1" name="weight">
                    <label for="male">Up to 1 kg</label>
                    <input class="ml-4 radio1" type="radio" value="Up to 5 kg" id="female" name="weight">
                    <label for="female">Up to 5 kg</label>
                    <input class="ml-4 radio1" type="radio" value="Up to 10 kg" id="female" name="weight">
                    <label for="female">Up to 10 kg</label>
                    <input class="ml-4 radio1" type="radio" value="Up to 15 kg" id="female" name="weight">
                    <label for="female">Up to 15 kg</label>
                    <input class="ml-4 radio1" type="radio" value="Up to 20 kg" id="female" name="weight">
                    <label for="female">Up to 20 kg</label>
                    <br>
                    <br>
                    <hr>
                    <hr>
                    <br>


                    <h4 class="font-weight-bold text-center text-secondary">Pickup</h4>
                    <label for="exampleFormControlInput1" class="text-secondary font-weight-bold ">Pickup
                        address</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="flat number, floor, building name, street name, landmarks, dimensions, package, fragile, contact name, etc."
                        name="pickup">
                    <br>
                    <br>

                    <div class="col-xs-3">

                        <label for="exampleFormControlInput1">10-digit mobile</label>
                        <input type="text" name="pickupnumber" class="form-control" style="width:auto"
                            id="exampleFormControlInput1">
                        <br>



                        <label for="exampleFormControlInput1">Pincode</label>
                        <input type="text" name="pickuppin" class="form-control" style="width:auto"
                            id="exampleFormControlInput1">
                    </div>
                    <br>
                    <br>
                    <hr>
                    <hr>

                    <h4 class="font-weight-bold text-center text-secondary">Delivery</h4>
                    <label for="exampleFormControlInput1" class="text-secondary font-weight-bold text-center">Delivery
                        address</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="delivery"
                        placeholder="flat number, floor, building name, street name, landmarks, dimensions, package, fragile, contact name, etc.">
                    <br>
                    <br>

                    <div class="col-xs-3">

                        <label for="exampleFormControlInput1">10-digit mobile</label>
                        <input name="deliverynumber" type="text" class="form-control" style="width:auto"
                            id="exampleFormControlInput1">
                    </div>
                    <br>

                    <br>




                    <label for="exampleFormControlInput1">Pincode</label>
                    <input type="text" name="deliverypin" class="form-control" style="width:auto"
                        id="exampleFormControlInput1">
                    <hr>
                    <hr>
                    <br>

                    <h4 class="font-weight-bold text-center text-secondary">Payment</h4>
                    <input type="radio" class="radio1" value="cash" name="payment">
                    <label for="male">Cash on delivery</label>
                    <input class="ml-4 radio1" type="radio" id="female" value="internet" name="payment">
                    <label for="female"> By Paytm,Credit..</label><br>
                    <br>
                    <hr>
                    <hr>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>


            </form>


            <!-- MAking footer -->
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">© 2019-2020 Shippers</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
                <form action="/admin">
                    <button id="btn" class="btn btn-outline-success my-2 my-sm-0 fixed-bottom"
                        type="submit">Admin</button>

                </form>


            </footer>


















            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
            <script src="./script.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
</body>

</html>